
<!--<div class="card">
    <div class="card-body">
        <img src="{{ 'playgroundaugust82018' | append: '.jpg' | prepend: 'objects/' | relative_url }}" class="img-fluid" alt="Responsive image">
    </div>
</div>-->

<div class="card">
    <div class="card-body">
        <h5 class="card-title text-center"><a href="https://dnews.com/local/mobile-home-park-stepping-out-of-syringa-s-shadow/article_6e36aa3e-3f57-50a2-a14f-19db9349fa65.html" class="text-dark" target="_blank">Featured News: "Mobile home park stepping out of Syringa’s shadow"</a></h5>
        <p class="card-text text-center">Moscow-Pullman Daily News Feature News, April 4, 2022</p>
        <p class="card-text text-center">By: Anthony Kuipers</p>
        <p class="card-text">Property owner Gary Lester said the neglect that eventually led to the closure of Syringa Mobile Home Park near Moscow in 2018 put other mobile home parks under more scrutiny. “That Syringa thing really changed the game,” he said. Unresolved water and sewer issues led to the downfall of the Syringa park, a class action suit against its owner Magar E. Magar and a bankruptcy. Its residents were forced to find new homes.">
            <a href="http://dnews.com/local/mobile-home-park-stepping-out-of-syringa-s-shadow/article_6e36aa3e-3f57-50a2-a14f-19db9349fa65.html" class="btn btn-secondary" target="_blank">Read More</a>
        </div> 
    </div>
</div>


