
<!--<div class="card">
    <div class="card-body">
        <img src="{{ 'playgroundaugust82018' | append: '.jpg' | prepend: 'objects/' | relative_url }}" class="img-fluid" alt="Responsive image">
    </div>
</div>-->

<div class="card">
    <div class="card-body">
        <h5 class="card-title text-center"><a href="http://dnews.com/opinion/her-view-syringa-was-the-canary-in-the-coal-mine/article_a55070f1-6256-5cb9-9fc0-861bb909668a.html" class="text-dark" target="_blank">Featured News: "Syringa was the Canary in the Coal Mine"</a></h5>
        <p class="card-text text-center">Moscow-Pullman Daily News Op-Ed, January 25, 2019</p>
        <p class="card-text text-center">By: Leontina Hormel</p>
        <p class="card-text">On Jan. 3, after a mass exodus of evicted tenants, many of whom had been living without running water for months, Avista shut off power to Syringa Mobile Home Park. The park is closed and everyone made it out safely, but our work is not over...</p>
        <div class="text-center">
            <a href="http://dnews.com/opinion/her-view-syringa-was-the-canary-in-the-coal-mine/article_a55070f1-6256-5cb9-9fc0-861bb909668a.html" class="btn btn-secondary" target="_blank">Read More</a>
        </div> 
    </div>
</div>


