{% assign people = site.data.people %}

<div class="col-md-6">

<div class="card">
    <h5 class="card-header">
        People
    </h5>
    <div class="card-body text-center">
        <ul class="list-group list-group-flush">
        {% for person in people %}
        {% if person.index == "y" %}
            <li class="list-group-item">
                <h5 class="card-title">
                    {{ person.title }}
                </h5>
                {% if person.photo %}
                <img class="card-img w-75 rounded mx-auto d-block pb-3" src="{{ person.photo | append: '_sm.jpg' | prepend: 'objects/thumbs/' | relative_url }}">
                {% endif %}
                <p><b>{{ person.name }}</b></p>
                <p>{{ person.biography }}</p>
            </li>
        {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>
</div>