
{% assign blog = site.data.blog | sort:"id" | reverse %}

    <div class="card mb-3 mx-3">
        <h5 class="card-header">
            New Blog Posts
        </h5>
        <ul class="list-group list-group-flush">
            {% for b in blog %}
            {% if b.recent == "y" %} 
            <li class="list-group-item"><b>{{ b.date }}:</b> <br><a href="{{ '/blog/' | append: '#' | append:b.id | relative_url }}" class="text-dark">> {{ b.title }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
