{% assign people = site.data.people %}


<div class="card">
    <h5 class="card-header">
        People
    </h5>
    <div class="card-body text-center">
        <ul class="list-group list-group-flush">
        {% for person in people %}
        {% if person.index == "y" %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-3">
                        {% if person.photo %}
                        <img class="card-img rounded mx-auto d-block" src="{{ person.photo | append: '_sm.jpg' | prepend: 'objects/thumbs/' | relative_url }}">
                        {% endif %}
                    </div>
                    <div class="col-md-9">
                        <h5 class="card-title">
                            <a href="{{ '/people/' | append: '#' | append: person.id | relative_url }}" class="text-dark">{{ person.name }}</a>, {{ person.title }}
                        </h5>
                        <p>{{ person.biography }}</p>
                    </div>
                </div>
            </li>
        {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>
