---
title: People
layout: page
permalink: /people/
---
{% assign people = site.data.people %}

{% for person in people  %}
{% if person.title contains 'Former' %}
<div class="row" style="background:blue;">
    
        <div class="col-md-4">
            <h2>{{person.name}}</h2>
            <h4>{{person.title}}</h4>
        </div>
        <div class="col-md-8">
            <p> {{person.biography}}</p>
            </div>
        
    </div>
    {% else %}
    <div class="row" style="background:red;">
    
            <div class="col-md-4">
                <h2>{{person.name}}</h2>
                <h4>{{person.title}}</h4>
            </div>
            <div class="col-md-8">
                <p> {{person.biography}}</p>
                </div>
            
        </div>
        {% endif %}
    {% endfor %}