---
layout: page
---

<style>
html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

footer {
  flex-grow: 0;
  padding: 15px 0;
  display: block;
  background-color: #f5f5f5;
}
</style>

{% assign about = site.data.about %}

{% for item in about %}

<div class="row pt-5">
    <div class="d-flex align-items-end"> 
    <div class="col-md-8">
        <h2>About this Project</h2>
        <p>{{ item.description }}</p>
    </div>
{% endfor %}
    <div class="col-md-4">
        <img class="img-fluid" src="{{ 'objects/trailer_spraypaint_75.jpg' | relative_url }}">
    </div>
</div>
</div>