---
layout: page
---

<style>
html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}
</style>

{% assign about = site.data.about %}

{% for item in about %}

<div class="row pt-5">
    <div class="d-flex align-items-end"> 
    <div class="col-md-6">
        <h2>About this Project</h2>
        <p>{{ item.description }}</p>
    </div>
{% endfor %}
    <div class="col-md-6">
        <iframe width="560" height="315"
            src="https://www.youtube.com/embed/Cfp205Je3D0">
        </iframe>
    </div>
</div>
</div>