---
layout: page
---
{% include index/jumbotron.html %} 

{% assign posts = site.data.blog %}

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h4>Recent Posts</h4>
            </div>
            <ul class="list-group list-group-flush">
                {% for post in posts %}
                <li class="list-group-item">{{post.title}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="card mt-3">
            <div class="card-body">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-success mt-2" type="submit">Search</button>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        {{ content }}
    </div>
</div>







