---
layout: page
---

{% assign blog = site.data.blog %}

<h2 class="pt-2">Blog</h2>

<div class="row">
    <div class="col-md-12">
        {% for b in blog %}
        {% if b.image %} 
        <ul class="list-group list-group-flush">
            <li class="list-group-item py-4">
                <div class="row">
                    <div class="col-md-5 align-self-center text-center">
                        <img class="img-fluid" src="{{ b.image | append: '_sm.jpg' | prepend: 'objects/thumbs/' | relative_url }}">
                    </div>
                    <div class="col-md-7 align-self-center pl-5">
                        <h5>{{ b.title }}</h5>
                        <p><i>By: {{ b.author }} on {{ b.date | date_to_long_string }}</i></p>
                        <p>{{ b.content | truncate: 700 }}</p>
                        <p><a href="#">Read more ></a></p>
                    </div>
                </div>
            </li>
        </ul>
        {% else %}
        <ul class="list-group list-group-flush">
            <li class="list-group-item py-4">
                <div class="row justify-content-center">
                    <div class="col-md-10 align-self-center pl-5">
                        <h5>{{ b.title }}</h5>
                        <p><i>By: {{ b.author }} on {{ b.date | date_to_long_string }}</i></p>
                        <p>{{ b.content | truncate: 700 }}</p>
                        <p><a href="#">Read more ></a></p>
                    </div>
                </div>
            </li>
        </ul>
        {% endif %}
        {% endfor %}
    </div>
</div>







