---
layout: page
---

<style>
    html {
        position: relative;
        min-height: 100%;
    }
    
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    
    main {
        flex-grow: 1;
    }

</style>

{% assign news = site.data.resources %}

<h1>Syringa in the News</h1>

<div class="row pb-4 pt-2 justify-content-center">
        {% for n in news %}
        {% if n.category == "news" %}
    <div class="col-md-4">
<div class="card-deck">
        <div class="card text-center border-dark my-3 mx-4">
            {% if n.photo %}
            <img class="card-img-top w-75 rounded mx-auto d-block pt-4" src="{{ n.photo | append: '_sm.jpg' | prepend: 'objects/thumbs/' | relative_url }}" alt="Card image cap">
            {% endif %}
            <div class="card-body">
            <h5 class="card-title"><a href="{{ n.link }}" class="text-dark" target="_blank">{{ n.title }}</a></h5>
            <p class="card-text">{{ n.date }}</p>
            <p class="card-text">{{ n.preview }}</p>
            <a href="{{ n.link }}" class="btn btn-secondary" target="_blank">Read More</a>
            </div>
        </div>
    </div>
    </div>
    {% endif %}
    {% endfor %}
</div>