---
layout: page
---

{% assign people = site.data.people %}

<h2 class="pb-2">People</h2>

<div class="row justify-content-center">
    <div class="col-md-11">
        <ul class="list-group list-group-flush">
            {% for person in people %}
            {% if person.photo %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-3 align-self-center text-center">
                            <img class="card-img rounded mx-auto d-block" src="{{ person.photo | append: '_sm.jpg' | prepend: 'objects/thumbs/' | relative_url }}">
                        </div>
                        <div class="col-md-9 align-self-center my-3">
                            <h5 class="card-title">
                                <a href="{{ '/people/' | append: '#' | append: person.id | relative_url }}" class="text-dark">{{ person.name }}</a>, {{ person.title }}
                            </h5>
                            <p>{{ person.biography }}</p>
                        </div>
                    </div>
                </li>
            {% else %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-12 align-self-center my-3">
                            <h5 class="card-title">
                                <a href="{{ '/people/' | append: '#' | append: person.id | relative_url }}" class="text-dark">{{ person.name }}</a>, {{ person.title }}
                            </h5>
                            <p>{{ person.biography }}</p>
                        </div>
                    </div>
                </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>