---
layout: page
---

<style>
    html {
        position: relative;
        min-height: 100%;
    }
    
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    
    main {
        flex-grow: 1;
    }
</style>

{% assign pubs = site.data.resources %}

<h1>Publications</h1>

<div class="row py-4">
        {% for p in pubs %}
        {% if p.category == "pub" %}
    <div class="col-md-6 mx-auto d-block">
        <div class="card-deck">
            <div class="card text-center border-dark mb-5">
                {% if p.photo %}
                <img class="card-img-top w-75 rounded mx-auto d-block pt-4" src="{{ p.photo | append: '_sm.jpg' | prepend: 'objects/thumbs/' | relative_url }}" alt="Card image cap">
                {% endif %}
                <div class="card-body">
                <h5 class="card-title"><a href="{{ p.link }}" class="text-dark" target="_blank">{{ p.title }}</a></h5>
                <p class="card-text">{{ p.preview }}</p>
                <a href="{{ p.link }}" class="btn btn-secondary" target="_blank">Read More</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>